nav {
  background-color: white;
  position: relative;
  width: 365px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  font-family:PT Serif;
  text-align: center;
}

h2{
  font-family:cursive;
  text-align: center;

}

.paragraph{
  display: block;
  margin: 25px;
  font-size: 20px;
  text-align: center;
}

.site-name {
position: absolute;
  padding: 0px;
  width: 375px;

}

.about-section {

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: center;

}

#HeroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 375px;
}

  .background-photo {
    display: flex;
   width: 95%;
   position: relative;
   align-self: stretch;
   top: 0;
   bottom: 0px;
   width:375px;
   height:255px;
  }

  .purrfectcostume {
    position: absolute;
    font-family: PT Serif Bold;
    color: white;
    font-size: 30px;
  }

  .costume {
    text-align: right;
  }

  .supercat {
    width: 50%;
    position: absolute;
    left: 100px;
    bottom: 0px;
  }

p {
  display: flex;
justify-content: center;
align-items: center;
  background-color: #e6e6e6;
    width: 365px;
    height: 200px;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.grumpycat{
display: flex;
justify-content: center;
align-items: center;
padding-left: 75px;
padding-top: 20px;
object-fit: cover;
}

.contact {
  background-color: #e6e6e6;
  width: 375px;
  text-align: center;
  margin: 0px;
  font-size: 20px;
}

body {
    font-family: PT Sans Narrow

}

/* On devices wider than 400px */
@media (max-width: 400px) {
  body{
    background-color: white;
  }
 .site-name {
   display: flex;
   justify-content: center;
 }

 .about-section {
   visibility: hidden;
 }

 .getintouch {
   visibility: hidden;
 }
}

/* On devices wider than 660px */
@media(max-width: 660px) {

}

/* On devices wider than 940px */
@media(min-width: 940px) {
  .background-photo {
    display: flex;
   width: 95%;
   position: relative;
   align-self: stretch;
   top: 0;
   bottom: 0px;
   width:1280px;
   height:590px;
}

#HeroImage {
  display: flex;
  justify-content: center;
align-items: center;
position: relative;
}

}
